.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  p {
    font-size: 14px;
    font-weight: 400;
    max-width: 180px;

    @media (max-width: 900px) {
      max-width: fit-content;

      font-size: 12px;
    }
  }
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 6px;
  }
}
