@import "../../styles/mixins.scss";

.bannerContainer {
  position: relative;
  height: 560px;
  width: 100%;
  @include container;
  @media (max-width: 900px) {
    height: auto;
    aspect-ratio: 40 / 27;
    margin-bottom: 45px;
  }
}

.img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
}

.position {
  position: absolute;
  top: 210px;
  @media (max-width: 900px) {
    top: 100%;
    margin-top: -45px;
  }
}

.bottomLeftAttach {
  border-radius: 8px 8px 8px 0;
}

.topAttach {
  border-radius: 0 0 8px 8px;
}
