.ptag {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4em;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.large {
    font-size: 24px;
}