@import '../../styles/variables.scss';

.ptag {
  font-weight: 400;
  line-height: 1.4em;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.l {
  font-size: 24px;
  @media (max-width: 900px) {
    font-size: 18px;
  }
}

.m {
  font-size: 21px;
  @media (max-width: 900px) {
    font-size: 18px;
  }
}

.s {
  font-size: 16px;
  @media (max-width: 900px) {
    font-size: 12px;
  }
}

.white {
  color: $white;
}

.blacke {
  color: $black;
}