@import "../../../styles/variables.scss";

.htag {
  margin: 0;
  padding: 0.75rem 1.125rem;
  width: fit-content;
  text-transform: uppercase;
  font-size: 3rem;
  @media (max-width: 900px) {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
  }
}

.primary {
  color: $white;
  background-color: $primary-color;
}

.ghost {
  color: $primary-color;
  background-color: $white;
  @media (max-width: 900px) {
    background-color: $primary-ghost;
  }
}
