.message {
  height: 352px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  @media (max-width: 900px) {
    height: 540px;
    flex-direction: column;
    justify-content: center;
  }
  svg {
    flex: 0 0 90px;
  }
}

.alignText {
  @media (max-width: 900px) {
    text-align: center;
  }
}
