@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.description {
    @include container;
    padding-top: 3rem;
    padding-bottom: 3rem;

    display: flex;
    background-color: $primary-ghost;
}

.mt {
    margin-top: 2rem;
}
