@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.description {
  @include container;
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: $primary-ghost;
  @media (max-width: 900px) {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "title picture"
    "text picture"
    "button picture";
  gap: 2.25rem 3rem;
  @media (max-width: 900px) {
    grid-template-areas:
      "title"
      "picture"
      "text"
      "button";
    gap: 1.5rem;
  }
}

.title {
  grid-area: title;
}

.text {
  grid-area: text;
}

.picture {
  grid-area: picture;
  width: 332px;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.button {
  grid-area: button;
}

.mt1 {
  margin-top: 1rem;
}
