@import "../../../styles/mixins.scss";

.form {
  @include center;
  gap: 3rem;
  @media (max-width: 900px) {
    gap: 2.25rem;
  }
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media (max-width: 1450px) {
    flex-direction: column;
  }
}

.textAlign {
  @media (max-width: 900px) {
    text-align: left;
  }
}