@import "../../../styles/variables.scss";

.inputField {
  max-width: 280px;
  width: 100%;
  padding: 12px 16px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 0.5rem;
  font-size: 21px;
  font-family: inherit;
  font-weight: 400;
  &::placeholder {
    color: #a0a0a0;
  }
  &:focus {
    border: 2px solid $primary-color;
  }
  @media (max-width: 900px) {
    font-size: 18px;
    max-width: none;
  }
}

.ErrorBorder {
  border: 2px solid $danger-color;
}

.inputGroup {
  position: relative;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.error {
  position: absolute;

  top: -20px;

  color: $danger-color;
}
