@mixin container {
  padding-right: 260px;
  padding-left: 260px;
  @media (max-width: 900px) {
    padding-right: 18px;
    padding-left: 18px;
  }
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
